h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 46px;
}
.pretty {
  font-family: "Poppins", sans-serif;
}
.pretty::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 70%; /* Change this to whatever width you want. */
  padding-top: 15px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid black; /* This creates the border. Replace black with whatever color you want. */
  border-radius: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
img {
  max-height: 650px;
  border-radius: 10px;
  margin: 20px;
}

.hero {
  background-color: rgb(169, 243, 218);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #272142;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content {
  margin: 30px;
  padding: 0;
  text-align: center;
}
.content p {
  font-size: 14px;
}

.btn-branding {
  background: rgb(6, 154, 139);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 1px solid rgb(6, 154, 139);
  border-radius: 4px;
  color: rgb(6, 154, 139);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0;
  text-align: center;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
